@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: "Crimson Text", serif;
}
.mob_view {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("./assets/hero_mob.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}

.desk_view {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("./assets/hero2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}
